.App {
  margin-top: 15px;
}

.App .navigationTitle {
  font-weight: bold;
}

.App .navigationLink {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App .navigationLink li {
  display: inline;
}

.App .navigationLink li a {
  display: block;
  width: 60px;
  text-decoration: none;
}
